In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import os
import cv2
from tqdm import tqdm

In [2]:
f = open("labels.txt", "r")
img_name = []
label = []
identity = []
for line in f:
    (a, b) = line.split(" ")
    img_name.append(a)
    identity.append(int(a.split("@")[0]))
    label.append(int(b[0]))
f.close()

In [3]:
datapath = "/home/ajay/Desktop/autoencoder/dataset/"

In [4]:
len(os.listdir(datapath))

47917

In [5]:
df = pd.DataFrame()
df['identity'] = identity
df['label'] = label
df['names'] = img_name

In [6]:
df.head(10)

   identity  label                                     names
0  10032527      0  10032527@N08_identity_4@2582182573_0.jpg
1  10032527      0  10032527@N08_identity_4@2582191559_0.jpg
2  10032527      0  10032527@N08_identity_4@2582274191_0.jpg
3  10032527      0  10032527@N08_identity_4@2583119706_0.jpg
4  10032527      1  10032527@N08_identity_4@2589966003_0.jpg
5  10032527      0  10032527@N08_identity_4@2590796978_0.jpg
6  10032527      0  10032527@N08_identity_4@2608502390_0.jpg
7  10032527      1  10032527@N08_identity_4@2650725739_0.jpg
8  10032527      1  10032527@N08_identity_4@2897031059_1.jpg
9  10032527      0  10032527@N08_identity_4@3027954276_0.jpg

In [7]:
train_x = []
train_y = []
for ids in df.identity.unique():
    temp = df[df['identity']== ids]
    x = temp[temp['label']==0].reset_index(drop=True)
    y = temp[temp['label']==1].reset_index(drop=True)
    for i in range(min(len(x),len(y))):
        train_x.append(x['names'][i])
        train_y.append(y['names'][i])

In [8]:
len(train_x), len(train_y)

(8906, 8906)

In [9]:
train_x[0]

'10032527@N08_identity_4@2582182573_0.jpg'

In [10]:
trainx_img = []
for i in tqdm(range(len(train_x))):
    img = cv2.imread(datapath+train_x[i])
    img = np.array(img)
    img = img/255
    trainx_img.append(img)

100%|██████████| 8906/8906 [02:48<00:00, 52.93it/s]

In [10]:
trainy_img = []
for i in tqdm(range(len(train_y))):
    img1 = cv2.imread(datapath+train_y[i])
    img1 = np.array(img1)
    img1 = img1/255
    trainy_img.append(img1)

100%|██████████| 8906/8906 [01:29<00:00, 99.76it/s]

In [11]:
import pickle
f = open("images-with-glasses", "wb")
pickle.dump(trainy_img, f)
f.close()

In [18]:
from sklearn.model_selection import train_test_split

In [24]:
len(trainx_img)

8906

In [50]:
X = np.array(trainx_img[:2000])

MemoryError:

In [51]:
Y = np.array(trainy_img[:3000])

MemoryError:

In [45]:
X.shape, Y.shape

((3000, 120, 120, 3), (906, 120, 120, 3))